<div class="container">
  <form [formGroup] = "registerForm">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-6 card mt-3 pb-3">
        <h3 class="text-center">  {{ listId? 'Update': 'Register' }} user</h3>
        <div class="form-group">
          <label for="name">name</label>
          <input type="text" class="form-control"
          formControlName="name">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control"
          formControlName = "email">
        </div>
        <div class="form-group">
          <label for="phone">Phone number</label>
          <input type="number" class="form-control"
          formControlName = "phone" minlength = "8">
        </div>
        <div class="form-group">
          <label for="city">city</label>
          <input type="text" class="form-control"
          formControlName = "city">
        </div>
        <div class="text-center">
          <button [disabled] = "registerForm.invalid" (click) = "onRegister()" class="btn btn-primary" type="submit">  {{ listId? 'Update': 'Submit' }} </button>
        </div>
      </div>
    </div>
  </form>
</div>
